h1 ="Hello from av-github-quality"
p = "The repository check failed. Fix according to the linter review and push a new commit to Github.  Link to the review: "

p
  = link_to "Link", "https://av-github-quality.herokuapp.com/repositories/#{@check.repository_id}/checks/#{@check.id}"